body{
	font-family:arial;
    background-image: url('bg img.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;

}
#header{
    text-align: center;
}
#left{
    float: left;
    width: 30%;    
}
#middle{
    float: left;
    width: 40%;
    color: black;    
}
#middle1{
    float: left;
    width: 27%;
    color: black;
}
#middle2{
    float: left;
    width: 13%;

}
#right{
    float: left;
    width: 30%;
    
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{ 
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none; 
}
a:link{
    color: #000080;
}
a:visited{
    color: #000080;
}
a:hover{
    color: #008080;
}

ul#alink a:link{ 
    background: white;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    list-style-type: none;   
}

ul#alink a:visited{
    color: black;
}

ul#alink a:hover{
    color: #008080;
}
.button{
    background-color: Tomato;
    border: none;
    padding: 5px 12px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

.button:hover{
    color: white;
}

.disabled{
    background-color: Tomato;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: not-allowed;
}