<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	<h1 id='header'>{{a}}</h1>
	<table style="width:100%"> 
	<tr> <td id='left'> </td>
	<td id='middle'> 
		
		    <font color="#FF5733"> <h3> There are {{length_of_cl}} countries in {{a}} </h3> </font>
		    <ul>
		    {% for c in cl %}
		    <li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c.tld}}.gif' class='tiny'>
			{{c.name}}</a></li>
			{% endfor %}

		     </ul>
		     
	</td>
	<td id='right'> </td>
	</tr>
    <tr> 
    <td id='left'> </td>
	<td id='middle' align="center"> <a href='/countryByName/{{n}}'> <button class="button"> Back </button> </a> </td>
	<td id='right'> </td>
    </tr>
    <tr>
    	<td id='left'></td>
    	<td id='middle'>
    		<a href='/searchbyalphabet/A'>A</a>
            <a href='/searchbyalphabet/B'>B</a>
            <a href='/searchbyalphabet/C'>C</a>
    		<a href='/searchbyalphabet/D'>D</a>
    		<a href='/searchbyalphabet/E'>E</a>
    		<a href='/searchbyalphabet/F'>F</a>
    		<a href='/searchbyalphabet/G'>G</a>
    		<a href='/searchbyalphabet/H'>H</a>
    		<a href='/searchbyalphabet/I'>I</a>
    		<a href='/searchbyalphabet/J'>J</a>
    		<a href='/searchbyalphabet/K'>K</a>
    		<a href='/searchbyalphabet/L'>L</a>
    		<a href='/searchbyalphabet/M'>M</a>
    		<a href='/searchbyalphabet/N'>N</a>
    		<a href='/searchbyalphabet/O'>O</a>
    		<a href='/searchbyalphabet/P'>P</a>
    		<a href='/searchbyalphabet/Q'>Q</a>
    		<a href='/searchbyalphabet/R'>R</a>
    		<a href='/searchbyalphabet/{{"S"}}'>S</a>
    		<a href='/searchbyalphabet/{{"T"}}'>T</a>
    		<a href='/searchbyalphabet/{{"U"}}'>U</a>
    		<a href='/searchbyalphabet/{{"V"}}'>V</a>
    		<a href='/searchbyalphabet/{{"W"}}'>W</a>
    		<a href='/searchbyalphabet/{{"X"}}'>X</a>
    		<a href='/searchbyalphabet/{{"Y"}}'>Y</a>
    		<a href='/searchbyalphabet/{{"Z"}}'>Z</a>
    	</td>
    	<td id='right'></td>
    </tr>
	</table>
	</body>
</html>