<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	<font color="#FF5733">  <h2 id='header'>{{c['name']}}</h2> </font>
	<table style="width:100%"> 

	<tr> <td id='left' > </td>
	<td id='middle1'> 
	    	
	    <div class='properties'>
	    
			<div>
				<div>Capital</div>
				<div>{{c['capital']}}</div>
			</div>
			<div>
				<div>Continent</div>
				<div><a href='../continent/{{c.continent}},{{c.name}}'>{{c['continent']}}</a></div>
			</div>
			<div>
				<div>Area</div>
				<div>{{"{:,}".format(c['area'])}}</div>
			</div>
			
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div>
			</div>
			<div>
				<div>GDP (Million)</div>
				<div>{{ "${:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
        </div>
    </td>
    <td id='middle2'>	
		<a href="/static/flags/{{c['tld']}}.gif">
		<img src="/static/flags/{{c['tld']}}.gif" class='big'> </a> 
	</td>     
    <td id='right'> </td>  </tr>

 </table> <br> 

<table style="width:100%">

	<tr> <td id='left'> </td> <td width="13%" align="center"> <a href='/'> <button class="button"> Back </button> </a> </td>
	 <td width="13%" align="center"> 	        
		    <a href='/editcountryByName/{{c.name}}' class='button'> <button class="button"> Edit </button></a>		    		            
		    </td>
		    <td width="13%" align="center"> 
	        <a href='/delete/{{c.name}}' class='button'> <button class="button"> Delete </button> </a> 
		    </td>
		    <td id='right'> </td>
	</tr>
    <tr></tr><tr></tr><tr></tr><tr></tr>
	<tr>    
    <th colspan="5" align="center"> 
    <ul id='alink'>
    {% for a in alist %}
    	<a href='/searchbyalphabet/{{a}}'><li>{{a}}</li></a>
    	{% endfor %}
    </ul>
    </th>    
	</tr>

	</table>		
	</body>
</html>