<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	<font color="#FF5733">  <h2 id='header'>{{c['name']}}</h2> </font>
	<table style="width:100%"> 
	<tr> <td id='left' > </td>
	<td id='middle1'> 
	   <form action='/updatecountrybyname'>
		
			<div class='properties'> <div>
			<input name='name' value={{c['name']}} type="hidden"></div>
			<div> <div>
			Capital</div>
				<div><input name='capital' value={{c['capital']}}></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input name='continent' value={{c['continent']}}></div>
			</div>
			<div>
				<div>Area</div>
				<div>{{c['area']}}</div>
			</div>
			<div>
				<div>Population</div>
				<div>{{"{:,.0f}".format(c['population'])}}</div> 
			</div>
			<div>
				<div>GDP (million $)</div>
				<div>{{ "{:,.0f}".format(c['gdp']/1000000) }}</div>
			</div>
		
		
		</form>

		</td> <td id='middle2'>
			<a href="/static/flags/{{c['tld']}}.gif">
		    <img src="/static/flags/{{c['tld']}}.gif" class='big'> </a>			
		</td>
		<td id='right'> </td>
		</tr>

		<tr> </tr> <tr> </tr> <tr> </tr> <tr> </tr> <tr> </tr> <tr> </tr>
	<tr> <td id='left'> </td> <td id='middle1' align="center"> 
	
		    <input type='submit' class='button'>
		    </td>
		    <td id='middle2' align="left">
		    <div> <a href='/delete/{{c.name}}'> <button class="button"> Delete </button> </a> 
		    </div></td>
		    <td id='right'> </td>
		</tr>

		</table>
	</body>
</html>