<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	<font color="#FF5733">  <h2 id='header'>{{c['name']}}</h2> </font>
	<form action='/updatecountrybyname'>
	<table style="width:100%"> 
	<tr> <td id='left'> </td>
	<td id='middle1'> 
	  
		
			<div class='properties'> <div>
			<input name='name' value={{c['name']}} type="hidden"></div>
			<div> <div>
			Capital</div>
				<div><input name='capital' value={{c['capital']}}></div>
			</div>
			<div>
				<div>Continent</div>
				<div><input name='continent' value={{c['continent']}}></div>
			</div>
			<div>
				<div>Area</div>
				<div><input name='area' value={{c['area']}}></div>
			</div>
			<div>
				<div>Population</div>
				<div><input name='population' value={{c['population']}}></div> 
			</div>
			<div>
				<div>GDP (million $)</div>
				<div><input name='gdp' value={{c['gdp']}}></div>
			</div>
		
		
		</td> <td id='middle2'>
			<a href="/static/flags/{{c['tld']}}.gif">
		    <img src="/static/flags/{{c['tld']}}.gif" class='big'> </a>			
		</td>
		<td id='right'> </td>
		</tr> </table> <br>
    
		<table style="width:100%"> 
	<tr> <td id='left'> </td>
    <td width="13%" align="center"> <a href='/'> <button class="button"> Back </button> </a> </td>
	 <td width="13%" align="center">
		    <input type='submit' class='button'>
		    </td> <td width="13%" align="center">
		    <a href='/delete/{{c.name}}'> <button class="button"> Delete </button> </a> 
		    </td>
		    <td id='right'> </td>
		</tr> 
		
		</table>
</form>
		
	</body>
</html>