<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<h1>World Factbook</h1>
		<div>{{w|length}} countries shown in this page.</div> 
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'> 
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>  
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
		<div>
		    <a href='/begin/{{page_number-page_size}}' >
		    <button class="disabled" disabled="disabled">Previous Page </button>
			</a> 
		</div>
		<div> 
			<a href='/begin/{{page_number+page_size}}'>
			<button class="button">Next Page </button></a>
		</div>
	</body>
</html>