<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
		<h2 id='header'>{{ab}}</h2> 	
		<table style="width:100%"> 
	    <tr> <td id='left' > </td>
	    <td id='middle'> 
		<font color="#FF5733"> <h3> {{length_of_alph}} countries start with {{ab}} </h3> </font></div>
		<ul>
			{% for a in alph %}
			<li>
			<a href="/static/flags/{{a['tld']}}.gif">
			<img src='/static/flags/{{a.tld}}.gif' class='tiny'></a>
			<a href='/countryByName/{{a.name}}'>
			 {{a.name}}</a></li> 
			{% endfor %}
		
		</ul>
		</td>
		<td id='right'> </td>
		</tr>
        <tr> 
        <td id='left'> </td>
	    <td id='middle' align="center"> <a href='/'> <button class="button"> Home </button> </a> </td>
	    <td id='right'> </td>
        </tr>
		</table>
	</body>
</html>